@model IEnumerable<DoctorAppointment_MVC_EFCore.Models.Appointment>

    <table class="table table-borderd">
        <tr>
<th>
    PatientName
</th>

<th>Appointment Date</th>
<th>Appointment Time</th>

<th>Status</th>
</tr>
@foreach(var item in Model)
    {
        <tr>
            <td>@item.Patient.FirstName</td>
            <td>@item.AppointmentDate</td>
            <td>@item.AppointmentTime.TimeOfDay</td>
            <td>@item.AppointmentStatus</td>
        </tr>
    }
</table>